create-tablet-match-dialog {

    width: 85vw;
    height: 85vh;
}
.create-tabletop-match-dialog-panel .mat-mdc-dialog-container {
  resize: both;
  overflow: auto;
    width: 85vw;
    height: 85vh;
    background: red;
}
.create-tabletop-match-dialog {
  border: 1px solid #ccc;
  background: #fff;
  /* ...other styles... */
}