
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
html {
  height: 100%;
  width: 100%;
    color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: dark light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: black;
  color: oklch(86.267% 0.23186 140.858);
  font: 'Cyberspace', 'Orbitron', 'monospace';
  padding-left: 8px;

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
*, *::before, *::after {
  font-family: 'Cyberspace', 'Orbitron', 'monospace' !important;
  color: oklch(86.267% 0.23186 140.858);
}
/* You can add global styles to this file, and also import other style files */
.create-tabletop-match-dialog-panel{
  resize: both;
  overflow: auto;
    background-color: black;
  width: 90vw !important;
border: 1px solid greenyellow;
  max-width: 90vw;// width: 1200px;
    height: 85vh;
}
.cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 90vw !important; /* Example: Make it 90% of viewport width */
  /* min-width: 300px !important; */ /* Or set a min-width */
}
  .mat-mdc-dialog-container {
    resize: both;
    overflow: auto;
      width: 90vw !important;
      max-width: 90vw;// width: 1200px;
      height: 85vh;
  }