// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
html {
  height: 97%;
  width: 100%;
  /* Force a dark color scheme for the entire app */
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0
    )
  );
}

body {
  color-scheme: dark;
  background-color: #0b0b0b;
  color: #e6e6e6;
  font: "Cyberspace", "Orbitron", "monospace";

  /* Reset the user agent margin and prevent horizontal overflow */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  /* Use dynamic viewport units on mobile and fallback to 100vh */
  //min-height: 100dvh;/*  */
  //min-height: 100vh;/*  */
}
.main-body {
  box-sizing: border-box;
  width: 100%;
  //min-height: 100dvh;
  //min-height: 100vh; /* fallback */
}

*,
*::before,
*::after {
  font-family: "Cyberspace", "Orbitron", "monospace" !important;
  color: oklch(86.267% 0.23186 140.858);
}
/* You can add global styles to this file, and also import other style files */
.create-tabletop-match-dialog-panel {
  resize: both;
  overflow: auto;
  width: 90vw !important;
  //border: 1px solid greenyellow;
  max-width: 90vw; // width: 1200px;
  height: 85vh;
}
.cdk-overlay-pane.mat-mdc-dialog-panel {
  //background-color: black;
  max-width: 90vw !important; /* Example: Make it 90% of viewport width */
  /* min-width: 300px !important; */ /* Or set a min-width */
}
.mat-mdc-dialog-container {
  resize: both;
  overflow: auto;
  width: 90vw !important;
  max-width: 90vw; // width: 1200px;
  height: 85vh;
}
